<mat-progress-bar mode="indeterminate" color="warn" style="position: absolute" *ngIf="isLoading"></mat-progress-bar>
<div class="container" style="background-image: url('assets/img/pattern2.png');">
    <ul class="flex-container wrap">
        <idea-card  *ngFor="let idea of ideas" [idea]="idea" (click)="openDetails(idea)"></idea-card>
    </ul>
    <button mat-fab color="primary" class="fab-bottom-right" (click)="addIdea()">
        <mat-icon matTooltip="Tenho uma ideia!">wb_incandescent</mat-icon>
    </button>
</div>