<form style="width: 100%" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="title">
        <span><b>Nuvem</b></span> de Ideias</h1>
    <br>
    <br>
    <div fxLayout="column">
        <mat-form-field floatPlaceholder="never">
            <input matInput formControlName="email" placeholder="E-mail">
            <span matSuffix>@forlogic.net</span>
        </mat-form-field>

        <mat-form-field floatPlaceholder="never">
            <input matInput formControlName="password" placeholder="Senha" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary">ENTRAR</button>
    </div>
</form>