<form style="width: 100%" [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="row" fxLayoutAlign="center center" >
        <ngx-avatar #avatar (click)="file.click()"  size="90" [src]="avatarURL" style="padding: 2px"
            [class.mat-elevation-z4]="mouseOver" (mouseover)="mouseOver=true" (mouseout)="mouseOver=false" >
        </ngx-avatar>
    </div>
    <div fxLayout="column">
        <mat-form-field floatPlaceholder="never">
            <input formControlName="name" matInput placeholder="Nome">
        </mat-form-field>

        <mat-form-field floatPlaceholder="never">
            <input formControlName="email" matInput placeholder="E-mail">
            <span matSuffix>@forlogic.net</span>
        </mat-form-field>

        <mat-form-field floatPlaceholder="never">
            <input formControlName="password" matInput placeholder="Senha" type="password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">REGISTRAR</button>
    </div>
    <input type="file" #file accept="image/*" (change)="onChange(file.files)" style="opacity: 0"/>
</form>