<h1 mat-dialog-title style="text-align: center">Qual a sua ideia?</h1>
<div>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input matInput #titleInput formControlName="title" placeholder="Dê um título" tabindex="1" cdkFocusInitial maxlength="140">
      <mat-hint align="end">{{titleInput.value?.length || 0}} / 140</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput #descriptionInput formControlName="description" placeholder="Conte-nos mais..." tabindex="2" matAutosizeMinRows="2" matAutosizeMaxRows="5" maxlength="300"></textarea>
      <mat-hint align="end">{{descriptionInput.value?.length || 0}} / 300</mat-hint>
    </mat-form-field>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-button type="button" (click)="cancel()">Não, obrigado</button>
      <button mat-button type="button" (click)="save()" [disabled]="!form.dirty || !form.valid">Pronto</button>
    </div>
  </form>
</div>
