<div style="width: 100%; height: 100%;" fxLayout="row">
    <div fxFlex fxLayoutAlign="center center" class="background" style="background-image: url('assets/img/login-cloud.png'); "></div>
    <div class="forms-container" fxFlex fxLayoutAlign="start start">
        <mat-tab-group>
            <mat-tab label="Login">
                <br>
                <br>
                <div fxLayoutAlign="center center">
                    <login-component (loginFinished)="close()"></login-component>
                </div>
            </mat-tab>
            <mat-tab label="Registro">
                <br>
                <br>
                <div fxLayoutAlign="center center">
                    <register-component (registerFinished)="close()"></register-component>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>