.btn-downvote:hover, .btn-downvote-active {
  color: #c62744;
}

.btn-upvote:hover, .btn-upvote-active {
  color: #27c67f;
}
    
.author:hover{
  cursor: pointer
}

.idea-card:hover{
  background-color: #f9fdff;
  cursor: pointer;
}

.truncate-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.825em;
  color: rgba(0, 0, 0, .54);
}
