.btn-downvote:hover{
    color: #c62744;
  }

  .btn-upvote:hover{
    color: #27c67f;
  }

.author:hover{
  background-color: #ededed;
  cursor: pointer
}

.author:active{
  background-color: whitesmoke;
}

.idea-card:hover{
  background-color: #f9fdff;
  cursor: pointer;
}

.truncate-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}