<mat-card style="min-width: 350px; max-width: 350px; margin: 10px; min-height: 74px;" class="idea-card" (click)="openDetails(idea)">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>{{idea.Title}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="50" fxLayoutAlign="start center" class="author" style="margin-left: 1.5em">
        <ngx-avatar size="40" [src]="idea.Author.photoURL"></ngx-avatar>&nbsp;&nbsp;
        <span class="truncate-name">{{idea.Author.displayName}}</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="end center" style="margin-right: 1.5em; color: rgba(0,0,0,.54);">
        <button mat-icon-button [ngClass]="'btn-upvote ' + (idea.Votes && idea.Votes[authService.currentUser?.uid] ? 'btn-upvote-active' : '')" (click)="upVote($event)">
          <mat-icon>thumb_up</mat-icon>
        </button>{{idea.UpVote}}
        <button mat-icon-button [ngClass]="'btn-downvote ' + (idea.Votes && idea.Votes[authService.currentUser?.uid] === false ? 'btn-downvote-active' : '')" (click)="downVote($event)">
          <mat-icon>thumb_down</mat-icon>
        </button>{{idea.DownVote}}
      </div>
    </div>
  </mat-card-actions>
</mat-card>