<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="10">
    <ngx-avatar size="40" [src]="authService.currentUser?.photoURL"></ngx-avatar>
  </div>
  <div fxFlex *ngIf="authService.currentUser && authService.currentUser.uid">
    <form>
      <mat-form-field floatPlaceholder="never" style="width: 100%">
        <textarea matInput #commentaryInput placeholder="Diga algo..." tabindex="1" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" (keyup.enter)="saveCommentary(commentaryInput.value)" maxlength="500" style="white-space:pre;"></textarea>

        <button mat-button matSuffix mat-icon-button (click)="saveCommentary(commentaryInput.value)" style="font-size: 1.5em">
          <mat-icon>send</mat-icon>
        </button>

        <mat-hint align="end">{{commentaryInput.value?.length || 0}}/500</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>